<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark"
        >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SJD Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>

            {% comment %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Projects
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
            {% endcomment %}
          </ul>
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid my-3">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/imgs/keyboard-background.jpg" alt="About me by Quinton Coetzee on Unsplash" width="900" height="700" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/about">About Me</a></h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/clay-banks-8q6e5hu3Ilc-unsplash.jpg" class="d-block w-100" width="900" height="700"  alt="Photo by https://unsplash.com/@claybanks?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText  Clay Banks https://unsplash.com/photos/8q6e5hu3Ilc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText Unsplash">
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="/projects">Projects</a></h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/nikolay-tchaouchev-ZXB6B8FkqwE-unsplash.jpg" class="d-block w-100" width="900" height="700" alt="contact me img">
                <div class="carousel-caption d-none d-md-block">
                  <h5> <a href="/contact">Contact Me</a></h5>
                  <p></p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div class="container text-center">
      <h2>Welcome to My Website</h2> 

      <div class="card" style="width: 18rem;">
        <img src="/static/imgs/delta-logo.png" class="card-img-top" alt="Daedalus Library Logo">
        <div class="card-body">
          <h5 class="card-title">Daedalus Library</h5>
          <p class="card-text">A study web app, to help avoid mistakes and aim for the skies</p>
          <a href="/projects" class="btn btn-primary">View Project</a>
        </div>
      </div>

    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
